---
title: Cocktails | Recipes | Type | <%= type.label %>
---

<h1>Recipes of type <%= type.label %></h1>

<% recipes = Recipe.with_characteristic(type).alpha_order %>
<nav class="">
  <ol>
    <% recipes.all.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %></li>
    <% end %>
  </ol>
</nav>
