---
title: Cocktails | Barware | <%= barware.name %>
---

<h1><%= barware.name %></h1>

<% if barware.synonyms_array.any? %>
<h2>Also known as</h2>
<ol>
  <% barware.synonyms_array.each do |synonym| %>
  <li><%= synonym %></li>
  <% end %>
</ol>
<% end %>

<% if barware.recipe_formulations.any? %>
<h2>Used in</h2>

<ol>
  <% barware.recipe_formulations.each do |formulation| %>
  <li><%= link_to formulation.title, recipe_formulation_path(formulation) %></li>
  <% end %>
</ol>
<% end %>
