---
title: Cocktails | Recipes | Base | <%= base.label %>
---

<h1>Recipes with a base of <%= base.label %></h1>

<% recipes = Recipe.with_characteristic(base).alpha_order %>
<nav class="">
  <ol>
    <% recipes.all.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %></li>
    <% end %>
  </ol>
</nav>
