---
title: Cocktails
---

<h1>Cocktails</h1>

<p>Check out our lists of:</p>
<ul>
  <li><a href="/ingredients">ingredients</a></li>
  <li><a href="/recipes">recipes</a>
    <ul>
      <li><a href="/recipes/base">by base ingredient</a></li>
      <li><a href="/recipes/flavour">by flavour</a></li>
      <li><a href="/recipes/tagging">by tag</a></li>
      <li><a href="/recipes/type">by type</a></li>
    </ul>
  </li>
  <li><a href="/barware">barware</a></li>
</ul>
